
CGO_ENABLED=0
LOGS_DATABASE="postgresql://dbconnection string for log DB"
DATABASE="postgresql://dbconnection string for main DB"


# optional ENV_VARS
BCRYPT_COST=10 # default is 12


JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n FULL KEY Here \n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n FULL KEY HERE \n-----END PUBLIC KEY-----"